*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px 20px;
    height: 115px;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: white;

}

nav h2{
    color:white
}
nav a:hover{
    color:red;
}

nav li:last-child a{
    background-color: red;
    padding: 6px 12px;
    border-radius: 5px;
}
nav li:last-child a:hover{
    background: #ff0000;
    color: black;
}

nav a.active{
    color: red;
    font-weight: bold;
    border-bottom: 2px solid red;
}

.hero {
    height: 90vh;
    background: url(../image/banner2.png) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero button {
    margin-top: 15px;
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;   
}

.hero button:hover{
    background: darkred;
}



.video-section {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 40px;
}

.video-text{
    flex: 1;
}

.video-box {
    flex: 1;
}

.video-box video {
    width:100%;
    border-radius: 10px;
}

.video-text h2 {
    font-size: 32px;
    margin-bottom:15px;
}

.video-text p {
    font-size: 18px;
    color: #444;
}

.about {
    text-align: center;
    padding: 60px 20px;
    background: #f9f9f9;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color:rgba(255, 0, 0, 0.615);
}

.about p {
    max-width:700px;
    margin: auto;
    font-size: 18px;
    color:#555;
    line-height: 1.6;
}

.card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    object-fit: cover;
}

.card button {
    background: red;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.card button:hover {
    background: darkred;
}

.menu-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
}